[Unit]
Description=Report CloudWatch Fleetctl Metrics to AWS
Requires=docker.service

[Service]
Type=simple
TimeoutStartSec=50
ExecStartPre=-/usr/bin/docker kill cloudwatch-report-fleetctl
ExecStartPre=-/usr/bin/docker rm cloudwatch-report-fleetctl
ExecStart=/bin/sh -c '/usr/bin/docker run \
  --name cloudwatch-report-fleetctl \
  --volume /var/run/fleet.sock:/var/run/fleet.sock \
  --env AWS_DEFAULT_REGION=$(/usr/bin/etcdctl get aws/region) \
  --env AWS_ACCESS_KEY_ID=$(/usr/bin/etcdctl get aws/access_key_id) \
  --env AWS_SECRET_ACCESS_KEY=$(/usr/bin/etcdctl get aws/secret_access_key) \
  octoblu/cloudwatch-report-fleet:latest'
